# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de npm
node_modules/
package-lock.json

# Archivos de construcción
dist/
build/

# Archivos de log
*.log

# Archivos temporales
tmp/
temp/

# Archivos de tamaño grande solo si pesan mucho
fotos/*.jpg
fotos/*.png
fotos/*.webp
